body {
    font-color: #444;
    background-color: #FFFFF; /* #EEEEE; */
    font-family: sans-serif;
    /* margin: 210px auto; */
    max-width: 512px;
    line-height: 1.6;
    font-size: 18px;
    /* padding: 0 10px; */
    margin: 0 auto; /* center */
    /* text-align: center; */
}

h1,h2,h3 {
    line-height: 1.2
}

/* .sidenav { */
/*   height: 100%; */
/*   width: 200px; */
/*   position: fixed; */
/*   z-index: 1; */
/*   top: 0; */
/*   left: 0; */
/*   overflow-x: hidden; */
/*   padding-top: 20px; */
/* } */

/* .sidenav a { */
/*   padding: 6px 8px 6px 16px; */
/*   text-decoration: none; */
/*   font-size: 24px; */
/*   display: block; */
/* } */

/* .main{ */
/*     margin-left: 210px; */
/*     padding: 0px 10px; */
/* } */

.main {
    max-width: 512px;
    /* margin-left: auto; */
    /* margin-right: auto; */
    margin: 0 auto; /* center */
    width: 100%;
    
}

.header {
    max-width: 512px;
    width: 100%;
    margin: 0 auto; /* center */
    text-align: center;
}

.footer {
    position : absolute;
    bottom : 0;
    height : 50px;
    margin-top : 40px;
    margin-bottom : 5px;
    margin-left: 10px;
    font-size: 14px;
}
}
